.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-content {
  padding: 20px;
  border-radius: 4px;
  width: 80%;
  max-width: 1000px;
  position: relative;
  -webkit-backdrop-filter: blur(40px) brightness(100%);
  backdrop-filter: blur(40px) brightness(100%);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.24) 0%,
    rgba(255, 255, 255, 0.06) 100%
  );
  border-radius: 14.65px;
  box-shadow: 0px 4px 24px -1px #00000033;
  height: 547px;
  left: 415px;
  top: 239px;
  width: 912px;
  left: 0;
  top: 0;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  cursor: pointer;
}

/*
.frame {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .frame .div {
    background-image: url(./desktop.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 1024px;
    position: relative;
    width: 1440px;
  }
  
  .frame .navigation {
    height: 30px;
    left: 544px;
    position: absolute;
    top: 47px;
    width: 405px;
  }
  
  .frame .text-wrapper {
    color: #ffffff;
    font-family: "Overpass Mono-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .frame .text-wrapper-2 {
    color: #ffffff;
    font-family: "Overpass Mono-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 125px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .frame .text-wrapper-3 {
    color: #ffffff;
    font-family: "Overpass Mono-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 280px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .frame .overlap-group {
    background-image: url(./card.svg);
    background-size: 100% 100%;
    height: 754px;
    left: 129px;
    position: absolute;
    top: 160px;
    width: 1180px;
  }
  
  .frame .tagline {
    color: #ffffff;
    font-family: "Overpass Mono-SemiBold", Helvetica;
    font-size: 70px;
    font-weight: 600;
    left: 70px;
    letter-spacing: -0.7px;
    line-height: 91px;
    position: absolute;
    text-align: center;
    top: 91px;
    white-space: nowrap;
  }
  
  .frame .description {
    color: #ffffff;
    font-family: "Overpass-Medium", Helvetica;
    font-size: 24px;
    font-weight: 500;
    left: 70px;
    letter-spacing: 0;
    line-height: 38.4px;
    opacity: 0.8;
    position: absolute;
    top: 182px;
    white-space: nowrap;
    width: 997px;
  }
  
  .frame .text-wrapper-4 {
    color: #ffffff;
    font-family: "Overpass-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 70px;
    letter-spacing: 0;
    line-height: 48px;
    position: absolute;
    text-align: center;
    top: 312px;
    white-space: nowrap;
    width: 104px;
  }
  
  .frame .p {
    color: #ffffff;
    font-family: "Overpass-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 70px;
    letter-spacing: 0;
    line-height: 32px;
    position: absolute;
    text-align: center;
    top: 351px;
    width: 355px;
  }
  
  .frame .text-wrapper-5 {
    color: #ffffff;
    font-family: "Overpass-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 880px;
    letter-spacing: 0;
    line-height: 32px;
    position: absolute;
    text-align: center;
    top: 483px;
    width: 187px;
  }
  
  .frame .text-wrapper-6 {
    color: #ffffff;
    font-family: "Overpass-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 866px;
    letter-spacing: 0;
    line-height: 32px;
    position: absolute;
    text-align: center;
    top: 351px;
    width: 181px;
  }
  
  .frame .overlap {
    height: 75px;
    left: 70px;
    position: absolute;
    top: 443px;
    width: 325px;
  }
  
  .frame .text-wrapper-7 {
    color: #ffffff;
    font-family: "Overpass-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: 32px;
    position: absolute;
    text-align: center;
    top: 36px;
    width: 325px;
  }
  
  .frame .text-wrapper-8 {
    color: #ffffff;
    font-family: "Overpass-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: 48px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 69px;
  }
  
  .frame .text-wrapper-9 {
    color: #ffffff;
    font-family: "Overpass-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 481px;
    letter-spacing: 0;
    line-height: 32px;
    position: absolute;
    text-align: center;
    top: 482px;
    width: 325px;
  }
  
  .frame .text-wrapper-10 {
    color: #ffffff;
    font-family: "Overpass-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 481px;
    letter-spacing: 0;
    line-height: 32px;
    position: absolute;
    text-align: center;
    top: 351px;
    width: 184px;
  }
  
  .frame .text-wrapper-11 {
    color: #ffffff;
    font-family: "Overpass-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 863px;
    letter-spacing: 0;
    line-height: 48px;
    position: absolute;
    text-align: center;
    top: 312px;
    white-space: nowrap;
    width: 91px;
  }
  
  .frame .text-wrapper-12 {
    color: #ffffff;
    font-family: "Overpass-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 481px;
    letter-spacing: 0;
    line-height: 48px;
    position: absolute;
    text-align: center;
    top: 443px;
    white-space: nowrap;
    width: 75px;
  }
  
  .frame .text-wrapper-13 {
    color: #ffffff;
    font-family: "Overpass-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 879px;
    letter-spacing: 0;
    line-height: 48px;
    position: absolute;
    text-align: center;
    top: 443px;
    white-space: nowrap;
    width: 95px;
  }
  
  .frame .text-wrapper-14 {
    color: #ffffff;
    font-family: "Overpass-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: 485px;
    letter-spacing: 0;
    line-height: 48px;
    position: absolute;
    text-align: center;
    top: 312px;
    white-space: nowrap;
    width: 93px;
  }
  
  .frame .github-https-github {
    color: transparent;
    font-family: "Overpass-Bold", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 66px;
    letter-spacing: 0;
    line-height: 38.4px;
    position: absolute;
    text-align: center;
    top: 641px;
    white-space: nowrap;
    width: 708px;
  }
  
  .frame .span {
    color: #23e858;
    font-weight: 700;
  }
  
  .frame .text-wrapper-15 {
    color: #ffffff;
    font-weight: 700;
  }
  
  .frame .text-wrapper-16 {
    color: #ffffff;
    font-family: "Overpass-Medium", Helvetica;
    font-weight: 500;
  }
  
  .frame .title {
    color: #ffffff;
    font-family: "Overpass Mono-Medium", Helvetica;
    font-size: 28px;
    font-weight: 500;
    left: 80px;
    letter-spacing: 0.28px;
    line-height: normal;
    position: absolute;
    top: 39px;
  }
  */
