@font-face {
  font-family: "Overpass-Bold";
  src: local("Overpass-Bold"),
    url(../fonts/Overpass-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Overpass-Medium";
  src: local("Overpass-Medium"),
    url(../fonts/Overpass-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Overpass Mono-Bold";
  src: local("Overpass Mono-Bold"),
    url(../fonts/OverpassMono-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Overpass Mono-Medium";
  src: local("Overpass Mono-Medium"),
    url(../fonts/OverpassMono-Medium.ttf) format("truetype");
}

.custom-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow-y: auto;
}

.custom-frame::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  filter: brightness(0.6);
  z-index: -1;
}

.custom-frame > * {
  color: #ffffff;
}

.custom-frame .custom-div {
  background-image: url("../images/food original.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(0.6);
  z-index: -1;
}

img {
  max-width: 100%;
  height: auto;
}

.frame > * {
  color: #ffffff;
}

.background-container {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}

.custom-div {
  position: relative;
  z-index: 1;
  color: #ffffff;
}

.custom-header-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.custom-title {
  font-size: 28px;
  color: #ffffff;
  font-family: "Overpass Mono-Medium", Helvetica;
  font-weight: 500;
  flex-shrink: 0;
  margin-left: 75px;
  margin-top: 25px;
}

.custom-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-left: 140px;
  margin-top: 25px;
}

.custom-button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-family: "Overpass Mono-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  margin: 0 15px;
  cursor: pointer;
  border-radius: 2px;
  transition: transform 0.1s; /* This smoothens the animation */
}

.custom-button:hover {
  text-decoration: underline;
  background-color: grey;
  cursor: pointer;
}

.custom-button:active {
  transform: scale(0.95); /* Adjust this value to your preference */
}

.custom-frame .custom-tagline {
  color: #ffffff;
  font-family: "Overpass-Bold", Helvetica;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: -0.8px;
  line-height: 104px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 100px;
}

.custom-frame .custom-description {
  color: #ffffff;
  font-family: "Overpass-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 38.4px;
  opacity: 0.9;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 1600px) {
  .custom-frame .custom-navigation {
    width: 50%;
  }
}

@media screen and (max-width: 1200px) {
  .custom-header-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .custom-title {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .custom-some-element {
    padding: 10px;
  }
}
