@font-face {
  font-family: "Overpass-Bold";
  src: local("Overpass-Bold"),
    url(../fonts/Overpass-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Overpass-Medium";
  src: local("Overpass-Medium"),
    url(../fonts/Overpass-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Overpass Mono-Bold";
  src: local("Overpass Mono-Bold"),
    url(../fonts/OverpassMono-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Overpass Mono-Medium";
  src: local("Overpass Mono-Medium"),
    url(../fonts/OverpassMono-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Overpass-Light";
  src: local("Overpass-Light"),
    url(../fonts/Overpass-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Overpass Mono-SemiBold";
  src: local("Overpass Mono-SemiBold"),
    url(../fonts/OverpassMono-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Overpass-Regular";
  src: local("Overpass-Regular"),
    url(../fonts/Overpass-Regular.ttf) format("truetype");
}

.custom-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.25s, opacity 0.25s ease-out,
    transform 0.25s ease-out;
}

.custom-modal.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s ease-in,
    transform 0.25s ease-in;
}

p {
  margin-bottom: 0;
}

.custom-login-modal .custom-modal-content {
  width: 80%;
  max-width: 1000px;
  -webkit-backdrop-filter: blur(40px) brightness(100%);
  backdrop-filter: blur(20px) brightness(100%);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.12) 0%,
    rgba(255, 255, 255, 0.06) 100%
  );
  border-radius: 14.65px;
  box-shadow: 0px 4px 24px -1px #00000033;
  height: 547px;
  width: 612px;
  margin: auto;
  position: relative;
  margin-top: 120px;
  transform: translateY(-50px);
  transform: translateY(-20px);
  transition: transform 0.3s ease-in-out;
}

.custom-modal.open .custom-modal-content {
  transform: translateY(0);
}

.custom-close-btn {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  cursor: pointer;
}

.custom-login-header {
  position: relative;
  height: 88px;
  width: 352px;
  margin-left: 120px;
  margin-bottom: 40px;
}

.custom-login-title {
  color: #ffffff;
  font-family: "Overpass Mono-SemiBold", Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 48px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 20px;
}

.custom-question {
  color: #ffffff;
  font-size: 20px;
  font-family: "Overpass-Light", Helvetica, sans-serif;
  margin-top: -10px; /* Adjust the value as needed */
  font-weight: 300;
  margin-left: 30px;
}

.custom-goto-signup {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #23e858;
  font-family: "Overpass-Bold", Helvetica, sans-serif;
  border: none;
  background-color: transparent;
  font-weight: 700;
  margin-top: -26px; /* Adjust this value to position it vertically */
  margin-left: 240px; /* Same left margin as .custom-question to align it */
  cursor: pointer;
}

.custom-goto-signup:hover {
  color: #a1eab4;
}

.floating-label {
  position: relative;
  margin-bottom: 2rem; /* adjust as per your need */
}

.input-field {
  font-size: 16px; /* adjust as per your need */
  width: 100%;
  height: 40px; /* adjust as per your need */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px; /* optional */
  background-color: transparent; /* to avoid overlapping with label */
}

.input-field:focus {
  border-color: #007bff; /* adjust for focus color */
}

.input-field:not(:valid) + label {
  top: 50%;
  font-size: 16px; /* keep this the same as .input-field font-size */
  transform: translateY(-50%);
  color: #777;
}

.input-field:focus + label,
.input-field:not(:placeholder-shown):valid + label {
  top: 10px; /* adjust for vertical placement when floated */
  left: 70px; /* adjust for horizontal placement when floated */
  font-size: 12px; /* adjust size when floated */
  color: #777; /* adjust color when floated */
}

label {
  position: absolute;
  color: #777;
  left: 70px;
  top: 25px;
  transition: all 0.3s;
  pointer-events: none; /* makes click events pass through the label */
}

.custom-login-modal input {
  background-color: #ffffff;
  border-radius: 16px;
  width: 493px;
  height: 50px;
  margin: 20px auto;
  display: block;
  text-indent: 10px;
}

#login-username {
  margin-top: -15px;
  left: 50px;
}
#login-password {
  margin-top: 30px;
  left: 50px;
}

.custom-login-submit {
  color: white;
  font-family: "Overpass-Medium", Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 500;
  background-color: #020305;
  border-radius: 16px;
  border: none;
  height: 70px;
  width: 518px;
  left: 50px;
  margin: 20px auto;
  margin-top: -5px;
  display: block;
  cursor: pointer;
}

.custom-login-submit:hover {
  background-color: #00000088;
}

#forgot {
  color: #ffffff;
  background-color: transparent;
  border: none;
  font-family: "Overpass-Regular", Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  width: 263px;
  height: 30px;
  margin: 20px auto;
  display: block;
  text-align: center;
  cursor: pointer;
  margin-left: 170px;
}

.Popover {
  /* initial hidden state */
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px); /* start slightly above the final position */
  transition: visibility 0s, opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

.Popover.show {
  /* visible state */
  visibility: visible;
  opacity: 1;
  transform: translateY(0); /* end at the final position */
  transition-delay: 0s; /* no delay when showing */
}
