@font-face {
  font-family: "Overpass-Bold";
  src: local("Overpass-Bold"),
    url(../fonts/Overpass-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Overpass-Medium";
  src: local("Overpass-Medium"),
    url(../fonts/Overpass-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Overpass Mono-Bold";
  src: local("Overpass Mono-Bold"),
    url(../fonts/OverpassMono-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Overpass Mono-Medium";
  src: local("Overpass Mono-Medium"),
    url(../fonts/OverpassMono-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Overpass-Light";
  src: local("Overpass-Light"),
    url(../fonts/Overpass-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Overpass Mono-SemiBold";
  src: local("Overpass Mono-SemiBold"),
    url(../fonts/OverpassMono-SemiBold.ttf) format("truetype");
}

.signup-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow-y: auto;
}

.signup-frame::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*background-image: url("../images/food original.jpg");*/
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  filter: brightness(0.6);
  z-index: -1;
}

img {
  max-width: 100%;
  height: auto;
}

.signup-frame > * {
  color: #ffffff;
}

.signup-frame .div {
  background-image: url("../images/food original.jpg");
  background-position: 50% 50%;
  background-size: cover;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.signup-frame::before {
  filter: brightness(0.6);
  z-index: -1;
}

.div {
  position: relative;
  z-index: 1;
  color: #ffffff;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.signup-frame .navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-left: 140px;
  margin-top: 25px;
}

.nav-button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-family: "Overpass Mono-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  margin: 0 15px;
  cursor: pointer;
  border-radius: 2px;
  transition: transform 0.1s; /* This smoothens the animation */
}

.nav-button:hover {
  text-decoration: underline;
  background-color: grey;
  cursor: pointer;
}

.nav-button:active {
  transform: scale(0.95); /* Adjust this value to your preference */
}

.signup-frame .title {
  font-size: 28px;
  color: #ffffff;
  font-family: "Overpass Mono-Medium", Helvetica;
  font-weight: 500;
  flex-shrink: 0;
  margin-left: 75px;
  margin-top: 25px;
}

.signup-frame .overlap {
  border-radius: 14.65px;
  height: 747px;
  left: 467px;
  position: absolute;
  top: 75px;
  width: 612px;
}

.signup-frame .group {
  -webkit-backdrop-filter: blur(40px) brightness(100%);
  backdrop-filter: blur(40px) brightness(100%);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.24) 0%,
    rgba(255, 255, 255, 0.06) 100%
  );
  border-radius: 14.65px;
  box-shadow: 0px 4px 24px -1px #00000033;
  height: 747px;
  left: 0;
  position: absolute;
  top: 0;
  width: 612px;
}

.signup-frame #signup-box {
  height: 622px;
  left: 48px;
  position: relative;
  top: 57px;
  width: 525px;
}

.signup-frame .sign-up-button {
  color: white;
  font-family: "Overpass-Medium", Helvetica;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0;
  white-space: nowrap;
  line-height: normal;
  background-color: #020305;
  border-radius: 16px;
  border: none;
  height: 72px;
  left: 0;
  position: relative;
  top: 495px;
  width: 518px;
}

.sign-up-button:hover {
  cursor: pointer;
  background-color: #00000088;
}

.signup-frame .password-box {
  background-color: #ffffff;
  border-radius: 16px;
  height: 72px;
  left: 0;
  position: absolute;
  top: 399px;
  width: 518px;
}

.signup-frame .username-box {
  background-color: #ffffff;
  border-radius: 16px;
  height: 72px;
  left: 0;
  position: absolute;
  top: 300px;
  width: 518px;
}

.signup-frame .lastname-box {
  background-color: #ffffff;
  border-radius: 16px;
  height: 72px;
  left: 0;
  position: absolute;
  top: 208px;
  width: 518px;
}

.signup-frame .firstname-box {
  background-color: #ffffff;
  border-radius: 16px;
  height: 72px;
  left: 0;
  position: absolute;
  top: 116px;
  width: 518px;
}

.signup-frame .text-wrapper-5 {
  color: #000000;
  font-family: "Overpass-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 35px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 30px;
  width: 208px;
}

.signup-frame .create-account {
  height: 88px;
  left: 73px;
  position: absolute;
  top: 0;
  width: 352px;
}

.signup-frame .already-have-an {
  display: flex;
  align-items: center;
  color: transparent;
  font-family: "Overpass-Light", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 37px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 58px;
  width: 350px;
  color: #ffffff;
  font-weight: 300;
}

.signup-frame .goto-login {
  display: flex;
  align-items: center;
  position: absolute;
  color: #23e858;
  font-size: 20px;
  border: none;
  background-color: transparent;
  font-family: "Overpass-Bold", Helvetica;
  font-weight: 700;
  left: 265px;
  top: 77px;
}

.goto-login:hover {
  color: #a1eab4;
  cursor: pointer;
}

.signup-frame .text-wrapper-8 {
  color: #ffffff;
  font-family: "Overpass Mono-SemiBold", Helvetica;
  font-size: 40px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 348px;
}

.signup-frame .terms-conditions {
  height: 30px;
  left: 0;
  position: absolute;
  top: 592px;
  width: 527px;
}

.signup-frame .i-agree-to-the-terms {
  color: #ffffff;
  font-family: "Overpass-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 39px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 486px;
}

.signup-frame .rectangle {
  border: 2px solid;
  border-color: #ffffff;
  border-radius: 8px;
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 30px;
}

.signup-frame .text-wrapper-9 {
  color: #000000;
  font-family: "Overpass-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 79px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 188px;
  white-space: nowrap;
  width: 79px;
}

.signup-frame .text-wrapper-10 {
  color: #000000;
  font-family: "Overpass-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 79px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 489px;
  width: 208px;
}

.signup-frame .text-wrapper-11 {
  color: #000000;
  font-family: "Overpass-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 79px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 471px;
  white-space: nowrap;
  width: 79px;
}

.signup-frame .text-wrapper-12 {
  color: #000000;
  font-family: "Overpass-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 79px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 390px;
  width: 208px;
}

.signup-frame .text-wrapper-13 {
  color: #000000;
  font-family: "Overpass-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 79px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 372px;
  white-space: nowrap;
  width: 79px;
}

.signup-frame .lastname {
  height: 48px;
  left: 79px;
  position: absolute;
  top: 277px;
  width: 212px;
}

.signup-frame .text-wrapper-14 {
  color: #000000;
  font-family: "Overpass-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 18px;
  width: 208px;
}

.signup-frame .text-wrapper-15 {
  color: #000000;
  font-family: "Overpass-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 79px;
}
