@font-face {
  font-family: "Overpass-Bold";
  src: local("Overpass-Bold"),
    url(../fonts/Overpass-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Overpass-Medium";
  src: local("Overpass-Medium"),
    url(../fonts/Overpass-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Overpass Mono-Bold";
  src: local("Overpass Mono-Bold"),
    url(../fonts/OverpassMono-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Overpass Mono-Medium";
  src: local("Overpass Mono-Medium"),
    url(../fonts/OverpassMono-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Overpass-Light";
  src: local("Overpass-Light"),
    url(../fonts/Overpass-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Overpass Mono-SemiBold";
  src: local("Overpass Mono-SemiBold"),
    url(../fonts/OverpassMono-SemiBold.ttf) format("truetype");
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35); /* semi-transparent black */
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
}

.modal.open {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  padding: 40px;
  border-radius: 15px;
  width: 50%;
  max-width: 720px;
  position: relative;
  overflow: hidden;
  -webkit-backdrop-filter: blur(40px) brightness(100%);
  backdrop-filter: blur(20px) brightness(100%);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.12) 0%,
    rgba(255, 255, 255, 0.06) 100%
  );
  box-shadow: 0px 4px 24px -1px #00000033;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: visibility 0s linear 0.25s, opacity 0.25s ease-out,
    transform 0.25s ease-out;
  transform: scale(0.9);
}

.modal.open .modal-content {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s ease-in,
    transform 0.25s ease-in;
}

.about-box {
  text-align: center;
}

.tagline {
  font-family: "Overpass Mono-Bold", Helvetica;
  font-size: 2.5rem; /* larger size for emphasis */
  font-weight: bold;
  color: #23e858;
  margin-bottom: 1.5rem;
}

.description {
  font-size: 1.25rem; /* slightly larger for readability */
  color: #ffffff; /* softer color for the eyes */
  margin-bottom: 2rem;
  line-height: 1.75;
  font-style: italic; /* to differentiate from other text */
}

.text-wrapper-4,
.text-wrapper-5,
.text-wrapper-6,
.text-wrapper-7,
.text-wrapper-8,
.text-wrapper-9,
.text-wrapper-10,
.text-wrapper-11,
.text-wrapper-12,
.text-wrapper-13,
.text-wrapper-14 {
  font-size: 1.5rem; /* make names stand out more */
  color: #ffffff;
  margin-bottom: 0.75rem;
  font-family: "Overpass-Medium", Helvetica;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* subtle shadow for depth */
}

.github-https-github {
  margin-top: 2rem;
  color: #333;
  font-family: "Courier New", monospace;
}

.github-https-github .span {
  color: #23e858;
  font-weight: bold;
  animation: colorChange 3s infinite alternate;
}

.github-https-github a {
  color: #000;
  text-decoration: none;
}

@media (max-width: 768px) {
  .modal-content {
    width: 80%;
    padding: 20px;
  }

  .tagline {
    font-size: 2rem; /* adjust for smaller screens */
  }

  .description {
    font-size: 1rem;
  }

  .text-wrapper-4,
  .text-wrapper-5,
  .text-wrapper-6,
  .text-wrapper-7,
  .text-wrapper-8,
  .text-wrapper-9,
  .text-wrapper-10,
  .text-wrapper-11,
  .text-wrapper-12,
  .text-wrapper-13,
  .text-wrapper-14 {
    color: #ffffff;
    font-size: 1.25rem;
  }
}
