.cookpal {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-size-adjust: 24px;
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
}

.cookpal .overlap {
  background-color: #000000;
  box-shadow: 0px 4px 10px #00000040;
  height: 10vh; /* Adjust the percentage as needed */
  left: -1%; /* Adjust the percentage as needed */
  position: absolute;
  top: 1px;
  width: 102%; /* Adjust the percentage as needed */
}

.newsfeed-button {
  height: 40px;
  width: 120px;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  color: #d9d9d9;
  background-color: #000000;
  border: 2px solid #ffffff;
  border-radius: 20px;
  position: fixed;
  top: 10px;
  left: 10px; /* Adjust the left distance from the left of the viewport */
  z-index: 999;
}

.logout-button {
  height: 40px;
  width: 120px;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  color: #d9d9d9;
  background-color: #000000;
  border: 2px solid #ffffff;
  border-radius: 20px;
  position: fixed;
  top: 10px; /* Adjust the top distance from the top of the viewport */
  right: 50px; /* Adjust the right distance from the right of the viewport */
  z-index: 999; /* Ensure it appears above other elements on the page */
}

.cookpal .text-wrapper-3 {
  color: #ffffff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  /* height: 12px; */
  left: 45px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 9px;
  /* width: 70px; */
  width: 10vw;
  height: 3vh;
}
