.cookpal {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-size-adjust: 24px;
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
}

body {
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent content from wrapping */
}

.cookpal .div {
  background-color: #ffffff;
  /* height: 1983px; */
  height: 100vh;
  overflow: hidden;
  position: relative;
  /* width: 1538px; */
  width: 100vw;
  overflow-y: auto;
  overflow-x: auto;
}

.cookpal .overlap {
  background-color: #000000;
  box-shadow: 0px 4px 10px #00000040;
  height: 10vh; /* Adjust the percentage as needed */
  left: -1%; /* Adjust the percentage as needed */
  position: absolute;
  top: 1px;
  width: 102%; /* Adjust the percentage as needed */
}

.cookpal .text-wrapper {
  color: #ffffff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  /* height: 12px; */
  height: 3vh;
  left: 280px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 7px;
  /* width: 86px; */
  width: 10vw;
}

.cookpal .text-wrapper-2 {
  color: #ffffff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  /* height: 12px; */
  left: 164px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 7px;
  /* width: 62px; */
  width: 10vw;
  height: 3vh;
}

.cookpal .text-wrapper-3 {
  color: #ffffff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  /* height: 12px; */
  left: 45px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 9px;
  /* width: 70px; */
  width: 10vw;
  height: 3vh;
}

.cookpal .overlap-group {
  /* height: 12px; */
  left: 1439px;
  position: absolute;
  top: 9px;
  /* width: 67px; */
  width: 10vw;
  height: 3vh;
  justify-content: space-between;
}

.cookpal .text-wrapper-4 {
  color: #ffffff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  /* height: 12px; */
  right: 0px; /* Adjust the right distance from the right side */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  /* width: 62px; */
  width: 10vw;
  height: 3vh;
}
.cookpal .newsfeed-button {
  height: 40px;
  width: 120px;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  color: #d9d9d9;
  background-color: #000000;
  border: 2px solid #ffffff;
  border-radius: 20px;
  position: fixed;
  top: 10px;
  left: 10px; /* Adjust the left distance from the left of the viewport */
  z-index: 999;
}

.cookpal .logout-button {
  height: 40px;
  width: 120px;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  color: #d9d9d9;
  background-color: #000000;
  border: 2px solid #ffffff;
  border-radius: 20px;
  position: fixed;
  top: 10px; /* Adjust the top distance from the top of the viewport */
  right: 50px; /* Adjust the right distance from the right of the viewport */
  z-index: 999; /* Ensure it appears above other elements on the page */
}

.cookpal .filter-button {
  height: 33px;
  width: 130px;
  position: relative;
  top: 25px;
  left: 12px;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  border: #ffffff;
  text-align: left;
  text-shadow: 0px 4px 4px #00000040;
}

.cookpal .filter-group {
  height: 200px;
  left: 0;
  /*position: absolute;*/
  position: relative;
  top: 100px;
  width: 100px;
  float: left;
}

.cookpal .text-wrapper-5 {
  color: #da6800;
  font-family: "IcoFont-Regular", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 10px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
}

.cookpal .overlap-2 {
  height: 400px;
  left: -1%; /* Adjust the percentage as needed */
  position: absolute;
  top: -20px;
  width: 102%; /* Adjust the percentage as needed */
}

.cookpal .overlap-3 {
  height: 526px;
  left: 0;
  position: absolute;
  top: 16px;
  width: 100%; /* Adjust as needed */
}
.cookpal .culinary-compass {
  color: transparent;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 55px;
  font-weight: 400;
  height: 80px;
  left: 10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 100vw;
}

.cookpal .span {
  color: #bb6969;
  text-align: center;
}

.cookpal .text-wrapper-6 {
  color: #914500;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
}

.cookpal .overlap-4 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #d9d9d9;
  border-radius: 20px;
  height: 46px;
  left: 413px;
  position: absolute;
  top: 8px;
  width: 726px;
}

.cookpal .div-wrapper {
  background-image: url("../images/orange-bg-color.png");
  background-size: 100% 100%;
  height: 44px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 190px;
  opacity: 75%;
  border-radius: 25px;
}

.cookpal .text-wrapper-7 {
  color: #000000;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  height: 24px;
  left: 17px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  white-space: nowrap;
}

.cookpal .text-wrapper-8 {
  color: #d9d9d9;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 24px;
  left: 241px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
}

.cookpal .overlap-5 {
  background-color: #9e4c00;
  border-radius: 17px;
  height: 46px;
  left: 683px;
  position: absolute;
  top: 0;
  width: 44px;
  opacity: 0.5;
}

.cookpal .text-wrapper-9 {
  color: #ffffff;
  background-image: url("../images/search-icon.png");
  background-size: 100% 100%;
  height: 20px;
  left: 12px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10px;
}

.cookpal .overlap-6 {
  /* height: 477px; */
  left: 0;
  position: absolute;
  top: 80px;
  /* width: 1545px; */
  width: 100%;
  height: 490px;
  margin: 0 auto;
  display: inline-block;
  align-items: center;
  text-align: center;
}

.cookpal .text-wrapper-10 {
  color: #000000;
  font-family: "IcoFont-Regular", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 53px;
  left: 1365px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 46px;
}

.cookpal .cropped-pistaciafood {
  height: 435px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 42px;
  width: 1538px;
}

.cookpal .get-cooking {
  color: #5c0000;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 90px;
  font-weight: 400;
  height: 296px;
  left: 200px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 85px;
  width: 583px;
}

.cookpal .text-wrapper-11 {
  color: #7b2727;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 90px;
  font-weight: 400;
  letter-spacing: 0;
}

.cookpal .text-wrapper-12 {
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  text-decoration: underline;
}

.cookpal .ellipse {
  height: 56px;
  left: 1444px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 53px;
}

.cookpal .overlap-7 {
  height: 30px;
  left: 1383px;
  position: absolute;
  top: 0;
  width: 33px;
}

.cookpal .ellipse-2 {
  background-color: #9e4c005c;
  border-radius: 15px/13.5px;
  height: 27px;
  left: 2px;
  position: absolute;
  top: 3px;
  width: 30px;
}

.cookpal .text-wrapper-13 {
  color: #000000;
  font-family: "IcoFont-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 30px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 33px;
}

.cookpal .overlap-8 {
  height: 1353px;
  left: 0;
  position: absolute;
  top: 60px;
  width: 100vw;
}

.cookpal .overlap-9 {
  height: 1351px;
  left: 0;
  position: absolute;
  top: 20px;
  /* width: 1538px; */
  /* height: 90vh; */
  width: 100vw;
}

.cookpal .overlap-10 {
  height: 858px;
  left: 0;
  position: absolute;
  top: 493px;
  width: 1538px;
}

.cookpal .text-wrapper-14 {
  color: #84bd00;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  height: 36px;
  left: 531px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 10px #00000040;
  top: 783px;
  width: 72px;
}

.cookpal .text-wrapper-15 {
  color: #84bd00;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  height: 24px;
  left: 689px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 789px;
  white-space: nowrap;
}

.cookpal .text-wrapper-16 {
  color: #84bd00;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  height: 24px;
  left: 865px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 789px;
  white-space: nowrap;
}

.cookpal .text-wrapper-17 {
  -webkit-text-stroke: 1px #000000;
  color: #84bd00;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  height: 24px;
  left: 1016px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 788px;
  white-space: nowrap;
}

.cookpal .image {
  height: 858px;
  left: 1253px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 285px;
}

.cookpal .rectangle {
  height: 231px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 627px;
  width: 1536px;
}

.cookpal .CP-logo {
  height: 72px;
  left: 112px;
  object-fit: cover;
  position: absolute;
  top: 718px;
  width: 150px;
}

.cookpal .group {
  height: 179px;
  left: 460px;
  position: absolute;
  top: 666px;
  width: 616px;
}

.cookpal .overlap-group-2 {
  height: 20px;
  left: 1px;
  position: absolute;
  top: 24px;
  width: 140px;
}

.cookpal .text-wrapper-18 {
  color: #ffffff;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 36px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 10px #00000040;
  top: 0;
  width: 72px;
}

.cookpal .text-wrapper-19 {
  color: #ffffff;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 36px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 10px #00000040;
  top: 29px;
  width: 126px;
}

.cookpal .text-wrapper-20 {
  color: #ffffff;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 36px;
  left: 1px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 10px #00000040;
  top: 59px;
  width: 139px;
}

.cookpal .text-wrapper-21 {
  color: #ffffff;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 18px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 10px #00000040;
  top: 120px;
  width: 144px;
}

.cookpal .text-wrapper-22 {
  color: #ffffff;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 18px;
  left: 2px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 10px #00000040;
  top: 152px;
  width: 144px;
}

.cookpal .overlap-11 {
  height: 155px;
  left: 182px;
  position: absolute;
  top: 24px;
  width: 182px;
}

.cookpal .text-wrapper-23 {
  color: #ffffff;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 36px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 10px #00000040;
  top: 0;
  width: 95px;
}

.cookpal .text-wrapper-24 {
  color: #ffffff;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 36px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 10px #00000040;
  top: 29px;
  width: 182px;
}

.cookpal .text-wrapper-25 {
  color: #ffffff;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 36px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 10px #00000040;
  top: 58px;
  width: 182px;
}

.cookpal .text-wrapper-26 {
  color: #ffffff;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 36px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 10px #00000040;
  top: 87px;
  width: 182px;
}

.cookpal .text-wrapper-27 {
  color: #ffffff;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 36px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 10px #00000040;
  top: 119px;
  width: 182px;
}

.cookpal .overlap-12 {
  height: 123px;
  left: 400px;
  position: absolute;
  top: 24px;
  width: 182px;
}

.cookpal .text-wrapper-28 {
  color: #ffffff;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  height: 24px;
  left: 1px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
  white-space: nowrap;
}

.cookpal .text-wrapper-29 {
  color: #ffffff;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  height: 24px;
  left: 180px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
  white-space: nowrap;
}

.cookpal .text-wrapper-30 {
  color: #ffffff;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  height: 24px;
  left: 400px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
  white-space: nowrap;
}

.cookpal .text-wrapper-31 {
  color: #ffffff;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 24px;
  left: 112px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 801px;
  white-space: nowrap;
}

.cookpal .group-2 {
  height: 400px;
  left: 60px;
  /*position: absolute;*/
  position: relative;
  top: 175px;
  width: 370px;
  float: left;
}

.cookpal .group-2-1 {
  height: 400px;
  left: 60px;
  /*position: absolute;*/
  position: relative;
  top: 175px;
  width: 370px;
  float: left;
  display: none;
}

.cookpal .img {
  height: 250px;
  left: 0px;
  object-fit: cover;
  position: relative;
  top: 0px;
  width: 300px;
  background-size: cover;
}

.cookpal .rectangle-2 {
  height: 230px;
  left: 257px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 215px;
}

.cookpal .rectangle-3 {
  height: 230px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 215px;
}

.cookpal .chat {
  height: 10px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 743px;
  width: 10px;
}

.cookpal .chat-2 {
  height: 10px;
  left: 716px;
  object-fit: cover;
  position: absolute;
  top: 743px;
  width: 10px;
}

.cookpal .chat-3 {
  height: 10px;
  left: 975px;
  object-fit: cover;
  position: absolute;
  top: 742px;
  width: 10px;
}

.cookpal .group-3 {
  height: 873px;
  left: 40px;
  position: absolute;
  top: 50px;
  width: 50px;
}

.cookpal .text-wrapper-32 {
  color: #9e4c00;
  font-family: "Myanmar Khyay-Regular", Helvetica;
  font-size: 50px;
  font-weight: 400;
  height: 51px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 0;
  white-space: nowrap;
  width: 226px;
}

.cookpal .text-wrapper-33 {
  color: #9e4c00;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 30px;
  font-weight: 500;
  height: 37px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  box-shadow: none;
  top: 86px;
}

.cookpal .text-wrapper-33-1 {
  color: #9e4c00;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 30px;
  font-weight: 500;
  height: 37px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 287px;
}

.cookpal .text-wrapper-34 {
  color: #9e4c00;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 30px;
  font-weight: 500;
  height: 37px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 493px;
}

.cookpal .text-wrapper-35 {
  color: #9e4c00;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 30px;
  font-weight: 500;
  height: 37px;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 712px;
}

.cookpal .text-wrapper-36 {
  color: #000000;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 24px;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 130px;
  white-space: nowrap;
}

.cookpal .text-wrapper-36-1 {
  color: #000000;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 24px;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 331px;
  white-space: nowrap;
}

.cookpal .text-wrapper-37 {
  color: #000000;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 24px;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 535px;
  white-space: nowrap;
  width: 64px;
}

.cookpal .text-wrapper-38 {
  color: #000000;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 24px;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 756px;
  white-space: nowrap;
}

.cookpal .text-wrapper-39 {
  color: #000000;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 24px;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 161px;
  white-space: nowrap;
}

.cookpal .text-wrapper-39-1 {
  color: #000000;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 24px;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 362px;
  white-space: nowrap;
}

.cookpal .text-wrapper-40 {
  color: #000000;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 24px;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 566px;
  white-space: nowrap;
  width: 91px;
}

.cookpal .text-wrapper-41 {
  color: #000000;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 24px;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 787px;
  white-space: nowrap;
}

.cookpal .text-wrapper-42 {
  color: #000000;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 24px;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 192px;
  white-space: nowrap;
}

.cookpal .text-wrapper-42-1 {
  color: #000000;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 24px;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 393px;
  white-space: nowrap;
}

.cookpal .text-wrapper-43 {
  color: #000000;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 24px;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 597px;
  white-space: nowrap;
}

.cookpal .text-wrapper-44 {
  color: #000000;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 24px;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 818px;
  white-space: nowrap;
}

.cookpal .text-wrapper-45 {
  color: #000000;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 24px;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 223px;
  white-space: nowrap;
}

.cookpal .text-wrapper-45-1 {
  color: #000000;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 24px;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 424px;
  white-space: nowrap;
}

.cookpal .frame {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
  left: 21px;
  position: absolute;
  top: 330px;
}

.cookpal .text-wrapper-46 {
  color: #000000;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  white-space: nowrap;
  width: fit-content;
}

.cookpal .text-wrapper-47 {
  color: #000000;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 200px;
  white-space: nowrap;
  width: fit-content;
}

.cookpal .text-wrapper-48 {
  color: #000000;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 24px;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 628px;
  white-space: nowrap;
}

.cookpal .text-wrapper-49 {
  color: #000000;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 24px;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 849px;
  white-space: nowrap;
}

.cookpal .frame-2 {
  align-items: flex-start;
  box-shadow: inset 0px 4px 4px #00000040;
  display: inline-flex;
  left: 10px;
  position: absolute;
  top: 286px;
}

.cookpal .text-wrapper-50 {
  color: #9e4c00;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 151px;
}

.cookpal .frame-3 {
  background-color: #f1722833;
  border-radius: 8px;
  height: 17px;
  left: 1134px;
  position: absolute;
  top: 720px;
  width: 60px;
  font-size: 11px;
  text-align: center;
}

.cookpal .frame-4 {
  background-color: #f1722833;
  border-radius: 8px;
  height: 17px;
  left: 878px;
  position: absolute;
  top: 723px;
  width: 60px;
  font-size: 11px;
  text-align: center;
}

.cookpal .frame-5 {
  background-color: #f1722833;
  border-radius: 8px;
  height: 17px;
  left: 618px;
  position: absolute;
  top: 722px;
  width: 60px;
  font-size: 11px;
  text-align: center;
}

.cookpal .line {
  height: 3px;
  left: 458px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 725px;
}

.cookpal .chat-4 {
  height: 10px;
  left: 460px;
  object-fit: cover;
  position: absolute;
  top: 388px;
  width: 10px;
}

.cookpal .chat-5 {
  height: 10px;
  left: 715px;
  object-fit: cover;
  position: absolute;
  top: 388px;
  width: 10px;
}

.cookpal .chat-6 {
  height: 10px;
  left: 977px;
  object-fit: cover;
  position: absolute;
  top: 388px;
  width: 10px;
}

.cookpal .rectangle-4 {
  background-color: #d9d9d9;
  border-radius: 50px;
  height: 150px;
  left: 1522px;
  position: absolute;
  top: 0;
  width: 10px;
}

.cookpal .frame-6 {
  background-color: #078e1433;
  border-radius: 8px;
  height: 17px;
  left: 630px;
  position: absolute;
  top: 369px;
  width: 46px;
  font-size: 11px;
  text-align: center;
}

.cookpal .frame-6-1 {
  background-color: #078e1433;
  border-radius: 8px;
  height: 38px; /* Adjust the height as needed */
  left: 0;
  position: absolute;
  top: 255px;
  width: 100px; /* Adjust the width as needed */
  font-size: 16px; /* Adjust the font size as needed */
  text-align: center;
  border: none;
}

.cookpal .frame-6-1-1 {
  background-color: #f05e1633;
  border-radius: 8px;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 255px;
  width: 100px;
  font-size: 16px;
  text-align: center;
  border: none;
}

.cookpal .frame-6-2 {
  background-color: rgba(228, 195, 61, 0.2);
  border-radius: 8px;
  /* height: 17px; */
  left: 169px;
  position: absolute;
  top: 265px;
  /* width: 46px; */
  font-size: 13px;
  text-align: center;
}

.cookpal .frame-7 {
  background-color: #f1722833;
  border-radius: 8px;
  height: 17px;
  left: 873px;
  position: absolute;
  top: 369px;
  width: 60px;
  font-size: 11px;
  text-align: center;
}

.cookpal .frame-8 {
  background-color: #f1722833;
  border-radius: 8px;
  height: 17px;
  left: 70%; /* Adjust the percentage as needed */
  position: absolute;
  top: 371px;
  width: 10%; /* Adjust the percentage as needed */
  font-size: 11px;
  text-align: center;
}

.cookpal .get-cooking-bg {
  background-image: url("../images/header-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}

.cookpal .recipe-name {
  color: #000000;
  font-weight: bold;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 24px;
  border-radius: 8px;
  /* height: 17px; */
  right: 70px;
  position: absolute;
  top: 247px;
  width: 165px;
  /* font-size: 18px; */
  text-align: right;
}

.cookpal .time-length {
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: bold;
  color: #000000;
  border-radius: 8px;
  /* height: 17px; */
  right: 70px;
  position: absolute;
  top: 275px;
  width: 165px;
  font-size: 13px;
  text-align: right;
}

.cookpal .recipe-likes {
  font-family: "Montserrat-Regular", Helvetica;
  border-radius: 8px;
  /* height: 17px; */
  left: 11px;
  position: absolute;
  top: 265px;
  width: 165px;
  font-size: 13px;
  text-align: left;
}

.cookpal .recipe-comments {
  font-family: "Montserrat-Regular", Helvetica;
  border-radius: 8px;
  /* height: 17px; */
  left: 43px;
  position: absolute;
  top: 265px;
  width: 165px;
  font-size: 13px;
  text-align: left;
}

.cookpal .recipe-likes-img {
  background-image: url("../images/thumbs-up.png");
  background-size: 100% 100%;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 269px;
  width: 10px;
}

.cookpal .comments-img {
  background-image: url("../images/comment.png");
  background-size: 100% 100%;
  height: 12px;
  left: 31px;
  position: absolute;
  top: 269px;
  width: 12px;
}

.cookpal .time-image {
  background-image: url("../images/time.png");
  background-size: 100% 100%;
  height: 10px;
  right: 150px;
  position: absolute;
  top: 280px;
  width: 10px;
}

.cookpal .three-line-recipe {
  height: 1000px;
  left: 0;
  position: relative;
  top: 2px;
  width: 1548px;
}

.cookpal .new-html {
  font-family: "Montserrat-Regular", Helvetica;
}

.cookpal .suggested-recipes-title {
  left: 45px;
  color: #9e4c00;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  top: 180px;
  position: relative;
  text-align: left;
  /* width: 2048px; */
  width: 100vw;
  height: 15vh;
}

.cookpal .saved-recipes-title {
  left: 45px;
  color: #9e4c00;
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  top: 100px;
  position: relative;
  /* text-align: left; */
  width: 2048px;
  float: left;
}